<link rel="stylesheet" href="assets/angular/core/templates/assets/fab.css"/>
<div class="fabs">
    <div class="chat">
        <div class="chat_header">
            <div class="chat_option">
                <!-- <span id="chat_head"></span> -->
                <span id="chat_fullscreen_loader" class="chat_fullscreen_loader"><i class="fullscreen fa fa-expand"></i></span>
            </div>
        </div>
        <div id="chat_converse" class="chat_conversion chat_converse embed-responsive embed-responsive-1by1">
            <iframe class="embed-responsive-item" src="http://localhost:3000/directory/users/?layout=embedded" title="myframe" allowfullscreen></iframe>
        </div>
        <div id="chat_fullscreen" class="chat_conversion chat_converse">
            
        </div>
        <!-- <div class="fab_field"></div> -->
    </div>
    <a id="prime" class="fab"><i class="prime fa fa-comment-alt"></i></a>
</div>

<script src="assets/angular/core/templates/assets/fab.js" type="text/javascript"></script>