<div ng-controller="coreController">
	<div class="navbar navbar-default" id="navbar-first" style="padding: 10px !important;" ng-if="showBillingMenu">
		<div>
			<ul class="nav navbar-nav">
				<li class="text-large text-light"><a href='#"' style="1.2em">
					<i class="icon-gift position-left"></i> 
					You have <span class="text-bold">{{currentBusinessAccount.AccountBalance}} Blueunits</span> in credit
				</a></li>
			</ul>

			<ul class="nav navbar-nav navbar-right">
				<li>
					<a ng-click="toggleBillingMenu()" class="btn btn-link" style="color: #3B78E7 !important">
						DISMISS
					</a>
				</li>
				<li>
					<a href="#" class="btn btn-xs btn-default" style="background-color: #3B78E7 !important; border-color: #3B78E7 !important; color: #fff !important;">
						Go To Billing Dashboard
					</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="navbar navbar-inverse" id="navbar-primary">
		<div class="navbar-header">

			<a class="navbar-brand" href="/user/home"><img src="assets/images/logo-white.png" class="img img-responsive" style="height: 25px;/*  margin-top: -5px;  */width: 140px"/></a>

			<ul class="nav navbar-nav pull-right visible-xs-block">
				<li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-menu5"></i></a></li>
			</ul>

			<p class="navbar-text" style="font-size: 1.1em !important; max-width: 280px;">
				{{businessInfo.BusinessName}} <span style="font-size: 0.8em !important">{{businessInfo.BusinessState}}, {{businessInfo.BusinessCountry}}</span>
			</p>
			<p class="navbar-text visible-md visible-lg">
				<span class="label bg-success-800">{{businessInfo.BusinessType}}</span>
			</p>
			<p class="navbar-text text-center">
				{{currentDepartmentName}}
			</p>
		</div>

		<div class="navbar-collapse collapse" id="navbar-mobile">
			<ul class="no-login nav navbar-nav navbar-right">
				<li>
					<a ng-click="toggleBillingMenu()">
						<span>
							<i class="icon-gift"></i><span class="visible-xs visible-sm">&nbsp;&nbsp;Billing</span>
						</span>
					</a>
				</li>
				<li>
					<a ng-click="returnToPrimaryDept()">
						<span>
							<i class="fa fa-home"></i><span class="visible-xs visible-sm">H&nbsp;&nbsp;ome</span>
						</span>
					</a>
				</li>
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" ng-click="loadSwitchableDepts()">
						Switch Department <i class="caret"></i>
					</a>
					<ul class="dropdown-menu dropdown-menu-right" style="height: 400px; overflow-y: auto;">
						<li>
							<div class="form-group" style=" padding: 0 !important; margin: 0 !important;">
								<input class="form-control" type="text" placeholder="Filter departments " style="border: 0;" ng-model="departmentsFilter" id="__departmentsFilter"/>
							</div>
						</li>
						<li ng-if="showSwitchLoader == true">
							<a href="#" class="text-center" style="font-size: 0.8em !important"><i class="icon-spinner2 fa-spin"></i> Loading departments</a>
						</li>
						<li class="divider"></li>
						<li ng-repeat="(key, department) in switchableDepartments | filter: departmentsFilter" ng-click="switch(department.DepartmentID)">
							<a href="#"><i class="fa fa-asterisk" style="color: {{switchRandomColors[key]}} !important;"></i> {{department.Name}}</a>
						</li>
						<li ng-if="switchableDepartments.length == 0">
							<a href="#" class="text-center" style="font-size: 0.8em !important"><i class="fa fa-ban"></i> No secondary department</a>
						</li>
					</ul>
				</li>

				<li class="dropdown dropdown-user">
					<a class="dropdown-toggle" data-toggle="dropdown">
						<img ng-src="{{loadImage(currentStaffInfo.StaffPicture)}}" alt="" ng-if="staffProfileExists()">
						<i class="icon-user-lock" ng-if="!staffProfileExists()"></i>
						<span>&nbsp;<span ng-if="staffProfileExists()">{{currentStaffInfo.StaffFullName}}</span></span>
						<i class="caret"></i>
					</a>

					<ul class="dropdown-menu dropdown-menu-right">
						<li data-toggle="modal" data-target="#userWorkScheduleModal"><a href="#"><i class="fa fa-calendar"></i> Work Schedules</a></li>

						<li class="divider"></li>	
						<li><a href="#" ng-click="logout()"><i class="icon-switch2"></i> Logout</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>

	<div id="moduleMenu"  ng-include src="moduleMenu"></div>
	<div id="moduleHeader"  ng-include src="moduleHeader"></div>
			
	<div class="modal modal-fade" id="userWorkScheduleModal">
		<div class="modal-full">
			<div class="modal-content">
				<div class="modal-body">
					<div class="row">
						<ng-include src="'plugins/user/work-schedules.html'"></ng-include>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>